/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E; /* Fondo oscuro como en VSCode */
    color: #D4D4D4; /* Color de texto claro */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que la página ocupe toda la altura de la ventana */
}

/* Estilos para el encabezado */
header {
    background-color: #333333; /* Fondo más claro que el body */
    padding: 20px;
    color: #569CD6; /* Color azul como en VSCode */
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    text-align: center;
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

/* Estilos para la imagen en main */
main img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el texto y el botón */
p {
    margin: 20px 0;
    font-size: 1.2rem;
}

/* Botón */
button {
    background-color: #007ACC; /* Botón azul VSCode */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #0066A1; /* Color azul más oscuro para hover */
}

/* Estilos para el pie de página */
footer {
    background-color: #333333; /* Fondo más claro que el body */
    color: #D4D4D4; /* Color de texto más suave */
    padding: 10px;
    text-align: center;
}

#entrada{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#boton-entrar{
    justify-content: center;
}

