---
import '../styles/cuento.css'
title: "El cuento"
---

<html>
  <head>
    <title> De la rana y el bizcocho</title>
  </head>
  <body>
    <h1>Esta es la Página 1</h1>
    <p>Bienvenido a la primera página.</p>
  </body>
</html>
