---
import '../styles/cuento.css';
title: "Cuento"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>El Baluarte de la Rana y la Bizcocha - Cuento</title>
</head>
<body>
  <a href="/">
    <header>
        <h1>El Baluarte de la Rana y la Bizcocha</h1>
    </header>
  </a>
  <main>
    <div class="cuento-container">
      <h2 class="cuento-titulo">De la rana y el bizcocho.</h2>
      <div class="cuento-cuerpo">
        <p>
          Había una vez, en un rincón del mundo donde los sueños y la realidad se entrelazan, una pequeña rana del pantano que ansiaba volar...
        </p>
        <p>
          Nuestra pequeña rana no sabía que a su especie no le estaba permitido volar, porque así lo dijo Dios.
        </p>
        <p>
          Frustrada, la rana sufrió y lloró, y durante años fue así. Los ríos se secaron, las montañas se erigieron en el mundo, y la vida siguió a pesar de su dolor.
        </p>
        <p>
          Un día, la rana, cansada de tanto sufrimiento, decidió que volar se había convertido en su deber. Y con gran ímpetu se levantó aquel día, y Dios la vio.
        </p>
        <p>
          "Por favor, pequeña rana, no hagas esto", suplicaban los amigos y familiares de la rana, mientras la observaban construir las alas que la llevarían a lo alto de los cielos. Allí conocería a las águilas y a los cóndores, y haría amistad con las gaviotas de las costas y con los gorriones del campo.
        </p>
        <p>
          Cuando el día llegó, la pequeña rana, con sus alas por estrenar, subió al punto más alto de su pantano. Observó los cielos despejados y el sol radiante que le quemaba el rostro.
        </p>
        <p>
          Entonces, un pájaro con la cola un poco extraña y una mirada astuta se le acercó, diciéndole: "Me ha enviado Dios, y yo cargo su palabra. He de decirte que lo que quieres hacer está prohibido, pero no recibirás castigo alguno, salvo la muerte que te espera abajo, en el pantano."
        </p>
        <p>
          Y contestó la rana: "Si la muerte me espera, que así sea, porque los sueños trascienden la realidad y la muerte. Y si lo logro, habré desafiado las leyes de Dios y las de mi propia cabeza."
        </p>
        <p>
          Habiendo dicho esto, la rana saltó al pantano, con una lágrima recorriendo su rostro y abandonándolo. Sus alas planearon unos segundos, su mente se ilusionó con el éxito y el placer, y las bocas de todos los que observaban se cerraron. El pájaro de cola extraña se fue de allí, muy apresurado. Y cuando todo esto pasaba, la pequeña rana cayó.
        </p>
        <p>
          Cayó durante eras, eternidades. Y vio, durante ese tiempo, a sus amigos, a su familia, y volvió a imaginarse los mares y las costas, los campos llenos de flores y las vacas pastando... Y el impacto llegó.
        </p>
        <p>
          Para su sorpresa, despertó, pues ya había aceptado la muerte. Estaba encima de un gran bizcocho que había justo debajo.
        </p>
        <p>
          Impactada, se incorporó, y sus alas estaban destruidas. Había fallado, y en el momento en que iba a ponerse a llorar, de adentro de un hongo salió una sapa, alta y recia, imponente, aunque preocupada.
        </p>
        <p>
          —"Te has caído sobre mi bizcocho" —le dijo la sapa a nuestra pequeña rana.
        </p>
        <p>
          —"He de pedirte disculpas..." —siguió la rana—. "Estaba intentando volar, pero fallé y terminé por arruinar tu delicioso bizcocho." Y arrancó un trozo del mismo y se lo llevó a la boca.
        </p>
        <p>
          La sapa la miró, como esperando una respuesta.
        </p>
        <p>
          —"Realmente delicioso" —dijo la rana.
        </p>
        <p>
          Y esas simples palabras emocionaron a la sapa, quien en secreto cocinaba postres y comidas, porque tenía vergüenza de lo que dijeran los demás, y porque los sapos no cocinan bizcochos.
        </p>
        <p>
          Entonces, sus miradas se cruzaron, y sin mediar palabra, la sapa invitó a la pequeña ranita a su hongo. Allí vivieron los dos, amándose como solo una sapa y una rana pueden hacerlo.
        </p>
        
      </div>
    </div>
    <div id="botones-secciones">
      <a href="/memorias">
          <div class="boton-con-imagen">
              <button>Memorias</button>
              <img src="/src/assets/frog-cry.png" alt="Icono Memorias">
          </div>
      </a>

      <a href="/cuento">
          <div class="boton-con-imagen">
              <button>El cuento</button>
              <div class="imagenesHorizontal">
                  <img src="/src/assets/peepo-holdin-hearth.webp" alt="Icono Rana">
              </div>
          </div>
      </a>

      <a href="/cursilerias">
          <div class="boton-con-imagen">
              <button>Cursilería</button>
              <img src="/src/assets/frog-cuteLooking.png" alt="Icono Cursilería">
          </div>
      </a>
  </div>
  </main>
  <footer>
      <p>Creada con ❤️ para Emma</p>
  </footer>
</body>
</html>
