---
import '../styles/cursilerias.css'
title: "El baluarte de la Rana y la Bizcocha"
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
    <title>El Baluarte de la Rana y la Bizcocha</title>
</head>
<body>
    <a href="/">
        <header>
            <h1>El Baluarte de la Rana y la Bizcocha</h1>
        </header>
    </a>
    <main>
      <div class="parrafos-container">
        <p class="izquierda">
          Ok, acaba de suceder una cosa TERRIBLE porque adivinaste lo que te estoy haciendo, adjunto pruebas:
        </p>
        <div class="imgLado">
          <img src="https://imgur.com/JSUkdUK.jpg" alt="adivino">
          <img src="https://imgur.com/U76Pg6f.png" alt="cry">
        </div>
        <p class="izquierda">
          Evidentemente me conoces muy bien, porque este sitio web tiene tanto un cuento, como un collage de fotos, como lo que es en si mismo, un producto de un código.
        </p>
        <p class="derecha">
          Esto me da pie a agradecer la forma en la que me cuidas, porque el hecho de que SI te hayas esperado lo que era tu sorpresa solo demuestra que, efectivamente, he abierto mi alma y te he mostrado quien realmente soy.
        </p>
        <p class="izquierda">
          Desde que nos conocemos, me has leido como un libro abierto, y he depositado toda mi confianza en que no me harias daño si seguiamos por el mismo camino.
        </p>
        <p class="derecha">
          Demostrándome lo contrario, has sabido cautivarme como nunca nadie lo habia hecho y te has ganado, como te dije, no solo mi confianza sino tambíen mi corazón.
        </p>
        <p class="izquierda">
          Estar en una relación es complicado. La atención y el cariño están a la orden del dia, y distrarse (como suele pasarme cuando me pierdo en mi propia cabeza) es inadmisible, aunque es sencillo perderse en la coitdianeidad de la pareja.
        </p>
        <p class="derecha">
          Por ello, agradezco que te enfrentes a todo esto, a tus miedos e inseguridades, a estar conmigo, y a aceptar quien soy y con quien vengo.
        </p>
        <p class="izquierda">
          Soy una persona simple, que solo busca ser feliz. He encontrado la felicidad en tu rostro, porque cada vez que me miras a los ojos siento que el mundo alrededor es mas sencillo, y que los problemas tienen solución, y que con tan solo tomar tu mano, la ansiedad y el miedo desaparece.
        </p>
        <p class="derecha">
          No tengo mucho más para decir, por lo que voy a proceder a linkear un video que tengo preparado para vos y que lo hice desde el cariño que te tengo: te pido que lo veas con atención...
        </p>
      </div>
      <a href="https://youtube.com/shorts/VS-fuXQ1Dvk?si=MOSiidv0UTo_DUDg">
        <div class="boton-con-imagen">
            <button>VER VIDEO</button>
            <img src="https://imgur.com/49Wwjjf.jpg" alt="Icono Cursilería">
        </div>
      <a/>
      <p>
        Ahora en serio, y por último, quiero dedicarte unas palabras, que no son mías, sino de Tolkien, más especificamente de la saga de El señor de los anillos, que a priori no entenderás la importancia que tienen en mi cabeza y porqué tienen que ver con nosotros, pero lo harás cuando veamos las peliculas:
      </p>
      <p class="cita">
        -Quería el amor de otro hombre -dijo ella-. Mas no quiero la piedad de ninguno.
      </p>
      <p class="cita">
        -¡No desdeñéis la piedad, que es el don de un corazón generoso, Eowyn! 
        Pero yo no os ofrezco piedad.
        Pues sois una dama noble y valiente
        y habéis conquistado sin ayuda una gloria que no será olvidada; y sois tan hermosa que ni las palabras de la lengua de los elfos podrían describiros, y yo os amo (...) Eowyn ¿no me amáis?
      </p>
      <p class="cita">
        Entonces algo cambió en el corazón de Eowyn, o acaso ella comprendió al fin lo que ocurría en él. Y desapareció el invierno que la habitaba, y el sol brilló en ella.
      </p>
      <p class="cita">
        -¡La Sombra ha desaparecido! ¡Ya nunca más volveré a ser una doncella guerrera, ni rivalizaré con los grandes caballeros, ni gozaré tan sólo con cantos de matanza!
        Seré una Curadora, y amaré todo cuanto crece.
      </p>
        <div id="botones-secciones">
            <a href="/memorias">
                <div class="boton-con-imagen">
                    <button>Memorias</button>
                    <img src="https://imgur.com/U76Pg6f.jpg" alt="Icono Memorias">
                </div>
            </a>

            <a href="/cuento">
                <div class="boton-con-imagen">
                    <button>El cuento</button>
                    <div class="imagenesHorizontal">
                        <img src="https://imgur.com/60p2UYq.jpg" alt="Icono Rana">
                    </div>
                </div>
            </a>

            <a href="/cursilerias">
                <div class="boton-con-imagen">
                    <button>Cursilería</button>
                    <img src="https://imgur.com/hUbIS9f.jpg" alt="Icono Cursilería">
                </div>
            </a>
        </div>
    </main>
    <footer>
        <p>Creada con ❤️ para Emma</p>
    </footer>
</body>
</html>

