---
import '../styles/cursilerias.css'
title: "Cursilerias"
---

<html>
  <head>
    <title> Cursileria</title>
  </head>
  <body>
    <h1>Esta es la Página 1</h1>
    <p>Bienvenido a la primera página.</p>
  </body>
</html>
