---
import '../styles/index.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página VSCode</title>
</head>
<body>
    <header>
        <h1>Bienvenida a la página de ejemplo</h1>
    </header>
    <main>
		<h1>Esta es una página web de prueba con los colores de VSCode.</h1>
		<div id="entrada">
			<img src="/src/assets/gifs/pepe-frog-iluvu.gif" alt="">
				<div id="boton-entrar">
					<button>Entrar</button>
				</div>
			<img src="/src/assets/gifs/pepe-frog-iluvu.gif" alt="">
		</div>
    </main>
    <footer>
        <p>Creada con ❤️ para Emma</p>
    </footer>
</body>
</html>
