---
import '../styles/index.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Azul</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi Página </h1>
    </header>
    <main>
        <p>Esta es una página web de prueba</p>
        <button>Haz clic aquí</button>
    </main>
    <footer>
        <p>Creada con ❤️ para Emma</p>
    </footer>
</body>
</html>
