---
import '../styles/memorias.css'
title: "Memorias"
---

<html>
  <head>
    <title> Nuestras Memorias</title>
  </head>
  <body>
    <h1>Esta pretende ser una galeria de fotos</h1>
    <p>Bienvenido a la primera página.</p>
  </body>
</html>
